[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-runner = "*"

[packages]
luigi = "*"
fastparquet = "*"
dask = {extras = ["dataframe"], version = "*"}
csci-utils = {editable = true,git = "https://github.com/csci-e-29/2022sp-csci-utils-JuLieAlgebra"}

[requires]
python_version = "3.8"
